<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> <!-- Include head.ejs partial -->

<body>
    <%- include('partials/nav') %> <!-- Include nav.ejs partial -->

    <div class="about content">
        <h2>About US</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam esse debitis nulla unde in distinctio beatae ad. Facere dolor consectetur consequatur dicta sit sunt modi, temporibus eum nobis possimus laudantium.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae excepturi quaerat doloremque molestiae saepe sed sequi necessitatibus totam! Error illo officiis fugit dolores minus perferendis omnis animi, cum excepturi eum?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa fuga quisquam rerum? Voluptatibus eligendi nam hic, odit voluptas illo nisi blanditiis natus, asperiores illum veniam molestias animi ex ipsa ullam!</p>
    </div>

    <%- include('partials/footer') %> <!-- Include footer.ejs partial -->

</body>
</html>
